
.top{
   width: 100%;
   background-color: #d60504;
}
.promotional-top {
    height: 66.5px;
    background: url(https://img11.360buyimg.com/babel/jfs/t1/160445/10/31249/21158/63496124Ec47f0f8f/0071531cc503178f.jpg.avif) no-repeat;
    margin: 0 auto;
   
}
.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
}
.nav,.oli {
    display: flex;
    color: #999;
    font-size: 0.8em;
}

.oli li {
    font-size: 12px;
    padding: 0 8px 0 8px;
    cursor: pointer;
}
.oli li:hover{
    color: #dc0214;
}
.shortcutR{
    flex: 1px 
}
.sign{
    font-size: 12px;
}
.sign a {
    color: #ff051a;
   
}
.seat span{
    color: #f10215;
    font-size: 16px;
}
.grope { 
    
   height: 140px ;
   border-bottom: 1px solid #ddd;;
   background-color: #fff;
}
.logo{
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background: url(	https://misc.360buyimg.com/mtd/pc/index_2019/1.0.1/assets/sprite/header/sprite.png);
}
.logoTwo{
    background: url(https://img1.360buyimg.com/da/jfs/t1/16273/9/11655/153805/5c90a4f3E683206d9/eef283b0ed619fe4.gif?v=0.7725703562749349);
    transition: opacity .6s linear;
    overflow: hidden;
    width: 190px;
    height: 120px;
    font-size: 0;
    background-position: 50%;
    @opacity:{

    }
}
.search{
    width: 100%;
    height: 60px;
    /* background-color:blueviolet; */
}
.search-m{
    position: relative;
    width: 100%;
    height: 100%;
}
.search-logo{
    position: absolute;
    top: 4px;
    left: 0px;
    width: 125px;
    height: 40px;
    display: none;
}
.form {
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}
.keyword {
    position: absolute;
    top: 0;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    color: #333;
   outline: none;  /* 去除输入框黑边 */
}
.form button{
    position: absolute;
    right: -1px;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #e1251b;
    cursor: pointer;  /*小手 */
}
.form button:hover {
  background-color: #c81623;
}
.shelper{
    position: absolute;
    left: 0px;
    top: 35px;
    width: 488px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);
    display: none;
    z-index: 50;
}
.shelper li {
    font-size: 12px;
    overflow: hidden;
    height: 24px;
    padding: 1px 6px ;
    line-height: 24px;
    cursor: pointer;
    color: #666;
    z-index: 55;
}
.shelper li:hover{
    background-color: #f4f4f4;
}
.settleup{
    position: absolute;
    right: 30px;
    top: 25px; 
}

.cw-icon{
     width: 130px;
     height: 34px;
     background-color: #fff;
     text-align: center;
     line-height: 34px;
     border-color: #eee;

     overflow: hidden;
     position: relative;
     float: left;
     border: 1px solid #e3e4e5;
     cursor: pointer;
     /* text-align: left; */
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3714098 */
  src: url('//at.alicdn.com/t/c/font_3714098_xz7jyggeztm.woff2?t=1666255013041') format('woff2'),
       url('//at.alicdn.com/t/c/font_3714098_xz7jyggeztm.woff?t=1666255013041') format('woff'),
       url('//at.alicdn.com/t/c/font_3714098_xz7jyggeztm.ttf?t=1666255013041') format('truetype');
}
  .cw-icon p{
    font-size: 22px;
    font-style: normal;
    margin-right: 13px;
    color: #e1251b;
    display: inline;
  }
  .cw-icon a{
    color: #e1251b;
  }
  .cw-icon .ci-count{
    position: absolute;
    top: 0px;
    left: 29px;
    /* right: auto; */
    /* display: inline; */
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 18px;
    text-align: center;
  }
  .hotwords{
    overflow: hidden;
    position: absolute;
    left: 260px;
    width: 450px;
    top: 65px;
    height: 20px;
    line-height: 20px;
  }
  .hotwords a {
    float: left;
    margin-right: 10px;
    cursor: pointer;
    z-index: 20;
  }
  .hotwords a:nth-child(1){
    color: #dc0214;
  }
  .hotwords .public{
    color: #999;
  }
  .active{
    color: #dc0214;
  }
  .navitems{
    overflow: hidden;
    position: absolute;
    left: 245px;
    height: 40px;
    margin-top: 50px;
    font-size: 16px;
    display: flex;
  }
  .navitems li{
    padding-left: 19px;
  }
  .navitems li:hover{
    color: #dc0214;
    cursor: pointer;
  }
  .bg{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background: url("https://img10.360buyimg.com/babel/jfs/t1/32810/34/18394/105217/634e4315Ee8240238/ecc1ce8aac6cb637.png.avif") 50% no-repeat;

  }
  .wall{
    width: 1190px;
    margin: 0 auto;
    padding-top: 10px;
    height: 490px;
  }
  .fs_col1{
    width: 190px;
    height: 470px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    z-index: 0;
  }
  .fs_col1 li{
    margin: 5px 0 0 10px;
  }
  .fs_col1 a{
    color: #000;
  }
  .fs_col1 a:hover{
    color: #c81623;
  }
  .fs_col2{
    width: 790px;
    height: 470px;
    float: left;
    margin-right: 10px;
    /* background-color: blueviolet; */
  }
  .carousel{
    position: relative;
    width: 590px;
    height: 470px;
    background-color: #666;
  }
  .carousel img{
    width: 590px;
  }
  .carousel image{
    overflow: hidden;
  }
  .next,.prev,.next1,.prev1,.sliderPrev,.sliderNext{
    text-align: center;
    color: #fff;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, .15);
  }

  .prev:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  .next:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  .next{
    left: 0;
    border-radius: 0 18px 18px 0;
   
  }

  .prev{
   right: 0; 
   border-radius: 18px 0 0 18px;
  
  }
  .banner-btn{
    width: 113px;
    height: 15px;
    position: absolute;
    left: 30px;
    bottom: 20px;
    
  }
  .banner-btn li{
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, .05);
    background-color:
     rgba(255, 255, 255, .4);
    border-radius: 50%;
    cursor: pointer;
    float: left;
  }
  .banner-btn  .liActive{
    position: relative;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid rgba(0, 0, 0, .1);
  }
  .carousel1 {  
    position: relative;
    cursor: pointer;
  }


  .carousel1All{
     display: block;
     position: absolute;
     top: -470px;
     left: 590px;
     width: 200px;
     height: 470px;
     /* background-color: #666; */
  }
  .carousel1All:hover{
    background-color: rgba(255, 255, 255, 0.1);
  }
  .next1{
    left: 0;
    border-radius: 0 18px 18px 0;
   
  }

  .prev1{
   right: 0; 
   border-radius: 18px 0 0 18px;
  
  }
  .prev1:hover,.sliderPrev:hover,.sliderNext:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  .next1:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  .box{
    width: 200px;
    height: 470px;
    position: absolute;
    top: -470px;
    left: 590px;
    /* background-color: antiquewhite; */
  }
  .box img{
    margin-left: 10px;
    width: 190px;
    height: 150px;
  }
  .box .Minigraph {
    display: none;
  }
  .box .Minigraph .chart2{
    margin: 6px 0  6px 0;
  }
  .box .imgActive{
    display: block;
  }
  
  
  .fs_col3{
    width: 190px;
    height: 470px;
    float: right;
    z-index: 1;
  
    
  }
  .user{
    height: 102px;
    background-color: #fff;
    padding-top: 10px;
    overflow: hidden;
  }
  .user_inner{
    position: relative;
    padding-top: 67px;
    height: 35px;
  }
  .user_avatar{
    position: absolute;
    left:20px;
    top: 13px;
    width: 44px;
    height: 44px;
  }
  .user_avatar_lk{
     display: block;
     width: 40px;
     height: 40px;
     height: 40px;
     border: 2px solid #fff;
     border-radius: 50%;
     overflow: hidden;
  }
  .user_avatar_lk img{
    width: 40px;
  }
  .user_show{
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
    font-size: 12px;
    
  }
  .user_show p a{
    color: #000;
  }
  .user_show a:hover{
    color: #bf020f;
  }
  .user_tip{
    color: #666;
    cursor: pointer;
  }
  .user_profit{
    height: 25px;
    font-size: 0;
    text-align: center;
  }
  .btnStyle{
    display: inline-block;
    margin: 0 5px ;
    width: 70px;
    height: 25px ;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background-color: #e1251b;
  }
  .user_profit .welfare:hover{
    background-color: #c81623;
  }
  .user_profit .plus:hover{
    background-color: #c81623;
    color: #fff;
  }
  .plus{
    background-color: #363634;
    color: #e5d790;
  }
  .user_inner::after{
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: linear-gradient(270deg,white,#eee,#eee,white);
    content: " ";
    bottom: 0;
  }
  .J_new{
    overflow: hidden;
    background-color: #fff;
    width: 190px;
    height: 130px;
    /* margin-left: 20px; */
  }
  .nwes{
    overflow: hidden;
    background-color: #fff;

  }
  .news_hd{
    position: relative;
  }
  .news_hd .news_tit{
    height: 20px;
    padding: 10px;
    position: relative;
    line-height: 20px;
    font-size: 14px;
    /* margin-bottom: 8px; */
    color: #000;
    margin-left: 15px;
  }
  .news_hd .news_more{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
    display: flex;
    line-height: 20px;
  }
  .news_list{
    position: relative;
    margin: 0 15px;
    height: 88px;
  }
  .news_list li {
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    margin-bottom: 6px;
    font-size: 12px;
  }
  .news_list li a{
    color: #999;
  }
  .news_list li a:hover{
    color: #e1251b;
  }
  .news_list li a span{
    display:inline-block;
    position: relative;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
  }
  .service_entry{
    overflow: hidden;
    position: relative;
    height: 220px;
    padding: 5px .5px;
    background-color: #fff;
  }
  .service_list{
    padding-top: 5px;
    height: 225px;
    
  }
  .service_item{
    position: relative;
    float: left;
    width: 63px;
    height: 55px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
  }
  .service_item .ico_img{
    height: 28px;
    position: relative;
    width: 28px;
    margin: 0 auto;
  }
  .service_item .service_ico{
    display: block;
    position: relative;
    color: #666;
    margin: auto;
    
  }
  .service_item .service_ico span{
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    width: 38px;
    /* border-bottom: 2px solid #fff; */
    color: #333;
    margin: auto;
  }
  
  .service_item .service_ico .service_ico_img{
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    margin: auto;
  }

  .service_item .service_ico .service_ico_img_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    visibility: hidden;
    opacity: 0;
    margin: 0 auto;
  }
  .service_entry::after{
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    top: 0;
    content: " ";
  }
  .content{
    position: relative;
  }
  .seckill{
    height: 260px;
    margin: 30px 0 20px 0;
    
  }
  .spec{
    height: 260px;
    margin-bottom: 20px;
    background-color: yellow;
  }
  .channels{
    height: 845px;
    margin-bottom: 20px;
    background-color: violet;
  }
  .feeds{
     height: 1000px;
     background-color: springgreen;
     
  }
  
  .elevator{
    position: absolute;
    width: 58px;
    height: 252px;
    top: 0;
    left: 50%;
    margin-left: 615px;
  }
  .elevator .elevator_list a{
    width: 38px;
    height: 38px;
    line-height: 19px;
    display: block;
    font-size: 14px;
    color: #333;
    padding: 10px;
    text-align: center;
    background-color: #fff;
  }
  .elevator .elevator_list::after{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 1px;
    left: 50%;
    bottom: -1;
    margin-left: -20px;
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: "";
    /* z-index: 1; */
  }
 
 .elevator_list a:hover{
    background-color: #e1251b;
    padding-top: -2px;
    color: #fff;
    /* z-index: 999999; */
  }
  .seckill .seckill_inner{
    height: 260px;
    background-color: #fff;
    position: relative;
  }
  .seckill-countdown{
    height: 260px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
    float: left;
    width: 190px;
    color: #fff;
    background-color: #e83632;
    background-image: url("https://misc.360buyimg.com/mtd/pc/index_2019/1.0.1/assets/img/4a15d8883775742e3efbb850ae14def7.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  .seckill-countdown .conuntdown-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
  }
  .seckill-countdown .countdown-desc{
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
  }
  .seckill-countdown .countdown-desc strong{
    font-size: 18px;
    padding-right: 2px;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
  }
  .seckill-countdown .timmer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 38px;
    margin-top: 10px;
    display: block;
    line-height: 25px;
  }
  .seckill-countdown .timmer span{
    padding-top: 5px;
  }
  .seckill-countdown .timmer .timmer-hour{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
  }
  .seckill-countdown .timmer .h_m,.seckill-countdown .timmer .m_m{
    position: absolute;
    font-size: 30px;
    top: -5px;
    margin-top: 3px;
    z-index: 5;
  }
  .seckill-countdown .timmer .h_m{
    left: 36px;
  }
  .seckill-countdown .timmer .m_m{
    right: 55px;
  }
  /* .seckill-countdown .timmer .h_m{
    position: absolute;
    left: 55px;
    bottom: 35px;
    font-size: 30px;
  }
  .seckill-countdown .timmer .m_m{
    position: absolute;
    left: 105px;
    bottom: 35px;
    top: 0;
    z-index: 2;
    font-size: 30px;
  } */
  .slider{
    position: relative;
    height: 260px;
    width: 800px;
    left: 190px;
  }
  .sliderPrev{
    border-radius: 18px 0 0 18px;
    right: 0px;
  }
  .sliderNext{
    left: 0;
    border-radius: 0 18px 18px 0
  }
  .box2 .Minigraph1{
    width: 800px;
    height: 260px;
    overflow: hidden;
    position: absolute;
    display: none;
  }
  .box2 .Minigraph1 .chart{
    float: left;
  }
  .box2 .Minigraph1 .chart img{
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: #fff;
    overflow: hidden;
  }
  .box2 .Minigraph1 .chart .chart1-tilte{
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
  }
  .box2 .Minigraph1 .chart .chart1-price{
    position: relative;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    width: 160px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    text-align: center;
    color: #e1251b;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;

  }
  .box2 .Minigraph{
    position: absolute;
    top: 0;
  }
  .box2 .Minigraph1 .chart:nth-child(1){
    margin-left: 45px;
  }
  .box2 .Minigraph1 .chart{
    margin-left: 30px;
  }
  .box2 .box2M{
    display: block;
  }
  .seckill-brand{
    width: 190px;
    position: absolute;
    top: 0;
    right: 0;
    float: left;
    height: 260px;
    padding: 10px;
    box-sizing: border-box;
  }
  .seckill-brand .brand-item{
    position: relative;
    color: #666;
    text-align: center;
  }
  .seckill-brand .brand-item .item-img img{
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-top: auto;
    margin-top: 20px;
    overflow: hidden;
  }
  .seckill-brand .brand-item .item-info{
    background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
    text-align: center;
    font-size: 14px;
    position: relative;
    height: 90px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .seckill-brand .brand-item .item-info .item-promo{
    color: #000;
    font-weight: 700;
  }
  .seckill-brand .brand-item .item-info .item-action{
    color: #e1251b;
    border-radius: 14px;
    width: 82px;
    height: 24px;
    line-height: 20px;
    padding-left: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid #e1251b;
    margin-top: 4px;
  }
  .seckill-brand .brand-item .item-info .item-action .iconfont{
    margin-left: -2px;
    font-size: 16px;
    font-weight: 400px;
    vertical-align: middle;
    margin-top: -2px;
  }
  .seckill-brand .brand-item .item-info .item-action:hover{
    color: #fff;
    background-color: #e1251b;
  }
